.not-found-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  text-align: center;
}
.not-found-img {
  height: 50vh;
}
.not-found-heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #262626;
}
.not-found-paragraph {
  color: #989898;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 0%;
}
.home-page-button {
  width: 141px;
  height: 48px;
  background-color: #4f46e5;
  border: 1px solid #4f46e5;
  color: #ffffff;
  border-radius: 9px;
  margin-top: 9px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .not-found-img {
    height: 25vh;
  }
  .not-found-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }
  .not-found-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }
  .home-page-button {
    width: 114px;
    height: 32px;
  }
}
